/* ----------------------- CART PAGE --------------------------- */
.cart-basket-empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
}

.cart-basket-empty-title{
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.cart-basket-empty-img{
    margin-bottom: 2rem;
}
  
.cart-basket-empty-btn{
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--main-color);
    background: #f5f5f5;
    padding: 1rem;
    border: 1px solid var(--main-color);
    border-radius: .3rem;
    cursor: pointer;
    transition: all .3s;
}

.cart-basket-empty-btn:hover{
    color: #f5f5f5;
    background: var(--main-color);
}
  
.cart-heading {
    font-size: 4rem;
    text-align: center;
}
  
.cart-products {
    margin: 5rem 15rem 10rem 15rem;
    background-color: #eee;
}
  

.cart-products-list{
    width: 100%;
    background-color: #f0eeee;
    border-radius: .3rem;
}

.cart-list-head{
    display: flex;
    justify-content: space-between;
    background-color: #cfcece;
    border-radius: .3rem;
    font-weight: 600;
    font-size: 1.8rem;
    padding: 1.5rem;
}

.cart-list-head_title{
    width: 60%;
    text-align: center;
}

.list-head_title{
    width: 15%;
    text-align: center;
}

.cart-product:nth-child(even){
    background-color: #f5f5f5;
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .3rem;
    font-size: 1.8rem;
    margin: 1rem;
    padding: 1rem;
}

.cart-product-img{
    max-width: 18rem;
}

.cart-product-img img{
    display: block;
    width: 100%;
}

.cart-about-product {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.cart-product-info{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-product-price,
.card-products,
.cart-total-price{
    width: 30%;
    text-align: center;
    padding: 1.8rem;
}

.cart-product-description {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
  
.cart-product-description > div {
    padding-bottom: 1.5rem;
}
  
.cart-product-name {
    font-size: 1.9rem;
    line-height: 1.3;
    font-weight: 500;
    text-decoration: underline;
}
  
.cart-product-color {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 1rem;
    border: 1px solid rgb(90, 89, 89);
    border-radius: .3rem;
    vertical-align: top;
}
  
.cart-product-size {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    margin-left: 1rem;
}
  
.cart-product-change {
    text-decoration: underline;
    cursor: pointer;
}
  
.cart-product-quantity-container div {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
  
.cart-product-quantity {
    padding: 0 2rem;
}

.card-products{
    text-align: center;
}

.cart-product-remove {
    cursor: pointer;
    font-weight: 800;
    margin-left: .6rem;
}
  
.data-cart {
    display: flex;
    justify-content: space-around;
    align-items: end;
    background: #cfcece;
    padding: 5rem 5rem 2rem 5rem;
}
  
.data-cart-subtotal{
    font-size: 2rem;
    border-bottom: 1px solid #e5e5e5;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.cart-grand-total{
    margin: 1rem;
    font-weight: 500;
}

.btn-apply,
.btn-check {
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    background-color: var(--main-color);
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: 1px solid var(--main-color);
    border-radius: .3rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-apply{
    margin-top: 3rem;
    border-radius: .3rem;
}

.btn-check {
    width: 40%;
    margin-bottom: 1.5rem;
    border-radius: .3rem;
}

.btn-apply:hover,
.btn-check:hover,
.btn-apply:focus,
.btn-check:focus{
    color: var(--main-color);
    background: white;
}