
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.counter-container {
    position: relative;
    width: 23px;
    height: 23px;
    border: 1px solid #a04955;
    background-color: #a04955;
    border-radius: 50%;
    margin: 0 auto;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}

.itemCount,
.icon {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;       
}

.itemCount {
    font-size: 14px;
    font-family: sans-serif;
    visibility: hidden;
    user-select: none;
}

.itemCount::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5rem;
    background: #ffe5b4;
    z-index: -1;
    transition: height 400ms ease-in-out;
}
.icon {
    border-radius: 50%;
    font-size: 10px;
    transition: left 500ms ease-in-out;
    color: #ffffff;
}
    
.expand {
    width: 90px;
    border-radius: 30px;
    background-color: #ffffff;
}

.expand .plus-icon {
    left: 85%;
    color: black;
}

.expand .minus-icon {
    left: 15%;
    color: black;
}

.expand .itemCount {
    visibility: visible;
}

.itemCount.showDown::before {
    top: 0;
    height: 100%;
}

.itemCount.hideDown::before {
    height: 0;
    bottom: 0;
}

.itemCount.showUp::before {
    bottom: 0;
    height: 100%;
}

.itemCount.hideUp::before {
    height: 0;
    top: 0;
}

.icon::before{
    content:"";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}