.product-list{
    margin: 0;
    width: 60%;
    position: absolute;
    z-index:1;
    font-size: 20px;
    left: 30%;
    top: 93%;
}

.product-list > li {
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: .3rem;
    align-items: center;
    margin-bottom: .5rem;
    box-shadow: 2px 2px 30px 2px black;
    justify-content: space-between;
    transition: all .2s;
}

.product-list > li > :first-child{
    width: 20%;
}

.product-list > li > :last-child{
    width: 70%;
    padding: 1rem;
    box-sizing: border-box;
}

.product-list img{
    display: block;
    max-width: 100%;
}

.product-list > li:hover{
    transform: scale(1.01);
}